@import url(http://fonts.googleapis.com/css?family=Merriweather);

* {
    margin: 0;
    padding: 0;
}

#main {
    font: 11pt Arial; 
}

#main ul {
	margin: 10px 0px;
}

#main ul li {
	margin-left: 30px;
	margin-bottom: 2px;
}

p, pre {
    max-width: 800px;
    min-width: 300px;
    text-align: justify;  
    margin-top: 10px;         
}

pre {
    font: 11pt Consolas, 'Courier New', Courier, monospace;
    border: 1px solid #DDD;
    background: #EEE;
    color: #333;
    padding: 10px;
}

#main {
    margin-top: 30px;
    margin-left: 200px;
    padding-left: 30px;
    margin-right: 30px;
    border-left: 1px solid #CDD;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    overflow: auto;
}

#aside {
    position: absolute;
    left: 30px;
    top: 30px;            
    width: 170px;
    padding-top: 90px;
    border-right: 1px solid #CDD;
    padding-bottom: 10px;
}

#aside ul {
    list-style: none;
}

#aside ul li {
    background: #aaa;
    margin-right: 30px;
    font-family: Corbel, 'Segoe UI', Arial, sans-serif;
    font-size: 11pt;
    color: white;
    margin-bottom: 7px;
}

#aside ul li.current {
    background: #b49ae1;
}

#aside ul li.current {
    background: #9ad34d;
}

#aside ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px;            
}

#aside ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Merriweather, Georgia, serif;
    font-size: 75px;
    font-weight: normal;
    background: url(bracket.png) no-repeat 425px 0px;
    color: #333;
    line-height: 1em;
    height: 75px;
    padding-top: 10px;
}        
        
h2 {
    color: #6bacff;
    font: 20pt Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: -1px;
}

h2 em {
    font-style: normal;
    color: #a49aff;
}

h3 {
    font: 17pt Helvetica, Arial, sans-serif;
    color: #999;
    margin: 15px 0px 15px 0px;
}

#main a {
    color: #606af0;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

#main a:visited {
    color: #c06ae0;
}
