@import url(http://fonts.googleapis.com/css?family=Merriweather|Inconsolata);

* {
    margin: 0;
    padding: 0;
}

#main {
    width: 900px;
    color: #222;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 20px auto;
    overflow: auto;    
}

h1 {
    font-family: Merriweather, Georgia, serif;
    font-size: 75px;
    font-weight: normal;
    color: #333;
    line-height: 1em; 
    margin-bottom: 5px;
}        

#main h1 a, #main h1 a:hover {
    text-decoration: none;
    color: black;
}

h1 img {
    margin-left: 50px;
    position: relative;
    top: 5px;
}
        
h2 {
    color: #6bacff;
    font: 20pt Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

h2 em {
    font-style: normal;
    color: #a49aff;
}

.box {
    width: 280px;
    float: left;
    margin: 15px;
    margin-bottom: 5px;
}

h3 {
    font: 15pt Helvetica, Arial, sans-serif;
    color: #888;
    margin-top: 13px;
}

.box h3 {
    margin-top: 0;
}

#main ul {
	margin-top: 13px;
	list-style: square;
}

#main ul li {
	margin-left: 30px;
	margin-bottom: 2px;
}

p {
    text-align: justify;  
    margin-top: 13px;  
    line-height: 18px;
}

p.attached {
    margin-top: 5px;
}

pre, kbd {
    font-family: Consolas, Inconsolata, 'Lucida Console', 'Courier New', Courier, monospace;
}

pre {
    font-size: 11pt;
    padding: 10px;
    margin-top: 13px;
    background: #111;
    color: #FFF;      
}

pre.box {
    width: 273px;
    height: 190px;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
}

pre .keyword {
    color: #72b3ff;
}

pre .string {
    color: #abe060;
}

pre .comment {
    color: #c4d7fb;
}

pre .noise {
    color: #999;
}

.demos, .with-border {
    border-bottom: 1px solid #BCC;
    padding-bottom: 10px;
}

.demos {
    padding-bottom: 13px;
    overflow: auto;
}

#main a {
    color: #406fb0;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

.breadcrumb {
    font: 8pt Verdana, Tahoma, sans-serif;
    color: white;
    background: #a2bcbc;
    padding: 10px;
    margin-bottom: 10px;
}

#main .left  { margin-left: 0; clear: both; }
#main .right { margin-right: 0; }

#main a.not-yet-written {
    color: #AAA;
    cursor: help;
}

img {
    border: none;
}

a.forward, a.top {
    display: block;
    float: right;
    margin-top: 8px;
}

a.top {
    margin-top: 5px;
}

#main #nav {
    float: right;
    list-style: none;
    text-align: right;
    font-size: 11pt;
    margin-top: 5px;
}

#nav a {
    color: #AAA;
}

#nav a:hover {
    color: #406fb0;
    text-decoration: none;
}

h3.comments {
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 5px;
    border-top: 1px solid #BCC;
}

#disqus_thread h3 {
    font: bold 10pt Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    margin: 5px 0;
}

#dsq-global-toolbar {
    margin-top: 0;
}

table.method {
    width: 100%;
}

table.method th, table.method td {
    padding: 10px 0;
}

table.method th {
    width: 100px;
    text-align: right;
    font: bold 10pt Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: center;
    padding-right: 20px;
}

.method pre {
    margin: 0;
}

.separator.with-border {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.blog-box {
    background: #daffac;
    border: 1px solid #cae5a8;
    float: right;
    width: 280px;
    margin: 7px 0 25px 25px;
    padding: 7px;
}

.blog-box h3 {
    margin-top: 0px;
}

.feed {
    float: right;
}

.date {
    color: #777;
}

.blog-post-end-box {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #BCC;
    background: #DDE8EE;
}
    
.blog-post-end-box p {
    margin: 0;
}